/* dropdownStyles.css */

.dropdown-deploy {
  border-radius: 4px;
  border: 1px solid var(--secondary-gray, #b2b2b3);
  background: var(--primary-white, #fff);
  height: inherit;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  color: #353536;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.dropdown-default {
  color: rgb(53, 53, 54, 0.7);
}
.option-wrapper {
  color: #343435;
}
.deploy-parent-wrapper {
  height: inherit;
}
