.container-table {
  padding: 0;
  width: inherit;
  margin: 0px 43px;
}
.table-report{
  width: inherit;
  position: relative;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  table-layout: fixed;
}
.deployed-input{
  accent-color: green;
}
.table-report thead {
  /* top: 0;
  position: sticky; */
  border-collapse: separate;
  border-spacing: 0 0;
  background-color: #f9f9f9;
}

.table-report th,
.table-report td {
  padding: 0.5rem;
}

.table-report th {
  background-color: #002c3f;
  color: white;
  font-weight: 500;
}

.table-report .circle {
  border-radius: 50%;
  width: 2.375rem;
  height: 2.375rem;
  background-color: #97c0c5;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.tech-tags {
  display: flex;
  border-radius: 2px;
  gap: 8px;
}

.tech-tags .tag-tech {
  background: #f4f6f5;
  border: 1px solid #b2b2b3;
  border-radius: 4px;
  padding: 6px;
  gap: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.tech-tags .all-tech {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  padding: 6px 8px;
  background: #28519e;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skills {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #343435;
  text-align: center;
}
.duration {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: #343435;
}
.dot {
  width: 4px;
  height: 4px;
  background-color: #343435;
  border-radius: 50%;
}
.table-report .tag {
  background-color: #343435;
  color: white;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
}
.table-report .skills {
  color: #343435;
}
.table-report tbody tr {
  box-shadow: 0px 2px 12px rgba(40, 52, 73, 0.15);
  cursor: pointer;
}
.name-column {
  display: flex;
  gap: 14px;
}
.name-column .tags {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.name-column .tags .tag1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #28519e;
}
.name-column .tags .tag2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #343435;
}
.no-data-body {
  position: relative;
}
.no-data-body {
  position: absolute;
}
