.about {
  /* margin-left: 80px; */
  display: flex;
  gap: 4.3rem;
  align-items: center;
  width: fit-content;
  height: 19px;
  margin-top: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.about-div,
.about-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #002c3f;
}
.about-link {
  cursor: pointer;
}
.four-cards {
  display: flex;
  margin-top: 10px;

  padding-left: 10px;
  align-items: flex-start;
  width: 183.3px;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(40, 52, 73, 0.15);
  border-radius: 8px;
  flex: none;
}

.main-div {
  /* display: flex; */
  /* justify-content: space-evenly; */
  justify-content: start;
}
/* ////////////////////////////////////////////// */
.this-week {
  /* margin-top: 20px; */
  /* width: 0px; */
}

.associate-consultant-heading {
  /* width: 154px;
height: 19px; */
  left: 0px;
  top: 4.5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #002c3f;
}

.about-associate {
  margin-top: 25px;
  margin-bottom: 7px;
  width: 154px;
  height: 19px;
  left: 0px;
  top: 4.5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #002c3f;
}
.associate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  isolation: isolate;
  width: 406px;
  height: 388px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(40, 52, 73, 0.15);
  border-radius: 8px;
}
