.responsivenessA{
  max-width: 80rem;
  margin: 0 auto;
  max-height: 80vh;
  padding: 0rem;
  /* border:1px solid black; */
}
.about {
  /* margin-left: 80px; */
  display: flex;
  gap: 4.3rem;
  align-items: center;
  width: fit-content;
  height: 1.188rem; /* 19px / 16px */
  margin-top: 1.25rem; 
  flex: none;
  order: 0;
  flex-grow: 0;
}
.about-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem; /* 16px / 16px */
  line-height: 1.188rem;
  color: #002c3f;
}
.about-link {
  cursor: pointer;
}
.four-cards {
  display: flex;
  margin-top: 0.625rem; /* 10px / 16px */
  padding-left: 0.625rem;
  align-items: flex-start;
  width: 11.9rem; /* 183.3px / 16px */
  height: 5.67rem; 
  background: #ffffff;
  box-shadow: 0px 0.25rem 1.25rem rgba(40, 52, 73, 0.15); /* 4px / 16px, 20px / 16px */
  border-radius: 0.5rem;
  flex: none;
}

.main-div {

  justify-content: start;
}
/* ////////////////////////////////////////////// */

.associate-consultant-heading {
left: 0px;
top: 0.281rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem; /* 16px / 16px */
  line-height: 1.188rem; 
  color: #002c3f;
}

.about-associate {
  margin-top: 1.563rem; /* 25px / 16px */
  margin-bottom: 0.438rem; 
  width: 9.625rem; /* 154px / 16px */
  height: 1.188rem; /* 19px / 16px */
  left: 0px;
  top: 0.281rem;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem; /* 16px / 16px */
  line-height: 1.188rem;
  color: #002c3f;
}
.associate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; /* 16px / 16px */
  gap: 1rem; 
  isolation: isolate;
  width: 25.375rem; /* 406px / 16px */
  height: 24.25rem; 
  background: #ffffff;
  box-shadow: 0px 0.25rem 1.25rem rgba(40, 52, 73, 0.15); /* 4px / 16px, 20px / 16px */
  border-radius: 0.5rem; 
}
