.icon{
    width: 1.0225rem; 
  height: 0.75rem; 
  left: 0.125rem; 
  top: 0.25rem; 
    background: #002C3F;
}
.count{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1.5rem; /* 24px / 16px */
line-height: 1.75rem; 
color: #002C3F;
}
.status{
   display: flex;
   justify-content: center;
    height: 1.188rem; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem; 
    line-height: 1.188rem;
    color: #343435;
    margin: 0rem;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.count-info{
display: flex;
flex-direction: row;
margin-top: 0.5rem;
margin-left: 0.1rem;
justify-content: center;
height:2rem;
}