.mainDiv{
    max-width: 1280px;
    margin: 0 auto;
}
.skill-added-card{
    /* margin-left: 10px; */
}
.SM-breadcrumbs{
    margin-top: 2rem;
    margin-left: 2.4rem;
}

.SM-nav-bar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 208px;
    height: 32px;
}
.SM-nav-bar p {
    margin: 0%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #343435;
}
.textfornow{
    margin-left: 50px;
    width: 700px;
height: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 32px;

color: #343435;

flex: none;
order: 0;
flex-grow: 0;
}
.bothcard{
    justify-content: space-evenly; 
}