.mentor-card{
    display: flex;
flex-direction: column;
align-items: center;
padding: 1rem;
gap: 1rem;
isolation: isolate;
width: 24.75rem;
height: 90vh;
/* height: 698px; */

background: #FFFFFF;
/* Shadow */

box-shadow: 0px 4px 20px rgba(40, 52, 73, 0.15);
border-radius: 8px;
}

.mentor-wrapper {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: center; */

    /* height: 59px; */
    
    /* Primary/White */
    

}
.mentor-head{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 8px 12px;
    gap: 8px;
    margin-bottom: 8px;
    width: 23.75rem;
    /* height: 59px; */
    
    /* Primary/White */
    
    background: #FFFFFF;
    /* Secondary/Light Gray */
    
    border: 1px solid #E9ECEB;
    border-radius: 4px;
}

.image-wrapper1 {

    width: 2rem;
    height: 2rem;
    justify-content: space-between;
}

.text-wrapper1 {
    font-style: normal;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #343435;
    padding-left: 0.5rem;
    width: 18.06rem;
}

.pos-wrapper {
    font-style: normal;
    font-weight: 400;
    padding-top: 0.25rem;
    font-size: 0.813rem;
    line-height: 1rem;
    color: #8E8E92;
}

.image-box1 img{
  width: 2.375rem;
  height: 2.5rem;
  background: #E9ECEB;
  border-radius: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noMentor-img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #E9ECEB;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 20px rgba(40, 52, 73, 0.15);
}

.arrow-wrapper1{
    display: flex;
    flex-direction: row;
}

.technology p{
    width: 4.125rem;
    height: 0.875rem;
    margin-bottom: 0.5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.875rem;
    /* identical to box height */
    
    
    /* Primary/Gray */
    
    color: #343435;
}

.tech-badge {
    color: #343435;
    font-size: 0.75rem;
    background-color: #E9ECEB;
    margin-right: 5px;
}

.remove-btn{
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 6px;
    border:none;
    width: 5.125rem;
    height: 1.688rem;
    color: white;
    background: #E03E2D;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
}

.assign-btn{
    margin-right: 1rem;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;
gap: 6px;
border:none;
width: 5.125rem;
height: 1.688rem;
color: white;
background: #28519E;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 0.813rem;
}
