.skill-parent-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  height: inherit;
  padding: 1rem 0 0.75rem 0;
  align-items: center;
}
.skill-first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  background: linear-gradient(113.04deg, #f9dda1 19.55%, #fec62e 64.92%);
}
.total-stars,
.seperated-stars div {
  display: flex;
  flex-direction: column;
  gap: 0.375em;
  align-items: center;
}
.total-stars .count {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #343435;
  text-align: center;
}
.total-stars span {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #343435;
  height: 1rem;
}
.seperated-stars {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}
.seperated-stars .count {
  color: #343435;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.seperated-stars span {
  color: #343435;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bolder;
  font-size: 12px;
  line-height: 14px;
  height: 1rem;
}
.skill-second-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.skill-second-container .tag-tech {
  background: #f4f6f5;
  border: 1px solid #b2b2b3;
  border-radius: 2px;
  padding: 6px;
  display: flex;
  gap: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.star-info {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  gap: 0.813rem;
  width: fit-content;
  height: 24px;
  border: 1px solid #b2b2b3;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #343435;
}
.skill-star-count {
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  gap: 1.25rem;
  padding-right: 0.25rem;
  overflow-y: scroll;
  height: 12.751rem;
  margin-left: 1rem;
  margin-right:0.25rem;
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 rgba(255, 255, 255, 0.1475);
}
.skill-star-count::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1475);
}

.skill-star-count::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: #d9d9d9;
  border: 1px solid rgba(255, 255, 255, 0.1475);
  border-radius: 0.875rem;
}

.skill-star-count::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf;
}

