.login-screen-body {
  height: 100vh;
  font-family: "Roboto";
  background: linear-gradient(
      to right,
      rgba(202, 240, 248, 0.46) -0.31%,
      rgba(0, 7, 45, 0.46) 112.65%
    ),
    #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pos {
  margin: 0 auto;
}

.cglogoimg {
  margin: 1.3rem 0 0 0;
}

.card-left-heading {
  margin-top: 78.05px;
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
}

.carousel-img {
  margin: 36px 75px 20px 75px;
}

input {
  border: none;
  border-bottom: 1px solid #b2b2b3;
  width: 407px;
  font-size: 15px;
  line-height: 41px;
}

input:focus {
  outline: none;
}

.carousel-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  width: 13rem;
  margin-top: 1.411rem;
  margin-bottom: 3rem;
  white-space: nowrap;
}

.right-container-heading {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #343435;
  display: flex;
  justify-content: center;
  margin-bottom: 6.25rem;
  position: relative;
  top: 1rem;
}

.input-label-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #343435;
}

.sign-up-btn {
  width: 24.313rem;
  position: relative;
  top: 27px;
  margin-bottom: 21px;
  background: #ffb81c;
  color: #343435;
  font-size: 17px;
  font-weight: 600;
}

/* .btn:hover {
  background-color: #ffb81c;
  color: #343435;
}

a:hover {
  color: #28519e;
} */

.right-container-link {
  display: flex;
  margin-top: 1.594rem;
  justify-content: center;
  color: #28519e;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 3.1rem;
}

.success-body-container {
  width: 32.5rem;
  height: 26.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0rem 0.25rem 0.625rem rgba(46, 72, 87, 0.18);
  border-radius: 0.5rem;
  font-family: roboto;
}

.success-logo-container {
  margin-top: 2.5rem;
  width: 15.5rem;
}

.success-icon-container {
  margin-top: 2.5rem;
}

.success-title-container {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 0.625rem;
  color: #343435;
}

.success-description-container {
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 1.188rem;
  color: #343435;
}

.success-button-container {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  padding: 0.563rem;
  border-radius: 0.25rem;
  width: 28rem;
  background: #ffb81c;
  color: #343435;
  font-weight: 600;
}

.sign-up-warning {
  color: red;
  font-size: 0.70rem;
}

.input-fields {
  max-width: 389px;
}