.TTheading p {
    width: 126px;
    height: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #343435;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 50px;

}

.outer-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

    width: 407px;
    height: 134px;

    background: #F7F8FB;
    /* Secondary/Light Gray */

    border: 1px solid #E9ECEB;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.maincard {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 16px 0px; */
    gap: 16px;

    position: absolute;
    width: 862px;
    height: 730px;
    left: 55px;
    top: 164px;
    margin-top: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(40, 52, 73, 0.15);
    border-radius: 8px;
}

.card-header-nav {
    /* padding-left: 1rem; */
    margin-top: 16px;
    /* margin-left: 16px; */
    max-height: 3.188rem;
    display: flex;
    flex: 1;
    background-color: #FFFFFF;
    border-bottom: 2px solid #E9ECEB;
}

.nav-btn {
    display: flex;
    width: 10.5rem;
    /* margin-left: 2rem; */
    border-radius: 0px 8px 0px 0px;
    /*padding: 8px 16px;
        gap: 8px;    
        */
    padding: 1rem 3.656rem;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    /* -webkit-border-radius: 0px 8px 0px 0px;
        -moz-border-radius: 0px 8px 0px 0px;    
        -ms-border-radius: 0px 8px 0px 0px;
        -o-border-radius: 0px 8px 0px 0px; */
}

.btn-nav {
    /* width: 7rem; */
    border: none;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    /* padding-top: 1rem;
        padding-bottom: 1rem; */
    color: #343435;
}

.activated {
    border-bottom: 0.188rem solid #28519E;
}

.sea {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px;
    gap: 8px;
    width: 229px;
    height: 32px;
    background: #FFFFFF;
    /* Secondary/Gray */
    border: 1px solid #B2B2B3;
    border-radius: 4px;
}

.exam {
    border: 2px;
    width: 407px;
    height: 134px;
    margin-top: 20px;
}
.imagespace {
    color: #28519E;
    width: 54px;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5px 5px;
    gap: 8px;

    background: #E4EAEE;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;

    margin-right: 12px;
}

.imageLogo {
    width: 30px;
    height: 35px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.Category_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5px 8px;
    gap: 8px;

    width: 80px;
    height: 25px;
    font-size: 13px;
    background: #B8DDE1;
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.About {
    width: 309px;
    height: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #343435;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.quesTimeClick {
    margin-top: 10px;
}

.articles {
    width: 100px;
    height: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #636363;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btnclick {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    width: 165px;
    height: 36px;
    background: #28519E;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

/* /////Modal Styling  */