.form-title-names {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #343435;
    display: flex;
}


.modalheading-text {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 32px;
    color: #1E1E1E;
}

.modal-save-button {
    background: #28519E;
    border-radius: 0.25rem;
    width: 92px;
    color: #FFFFFF;
}

.modal-save-button:hover {
    background: #28519E;
    width: 92px;
    color: #FFFFFF;
}

.modal-cancel-button {
    width: 92px;
    border: 1px solid #28519E;
    border-radius: 0.25rem;
}

.modal-cancel-button:hover {
    width: 92px;
    border: 1px solid #28519E;
    border-radius: 0.25rem;
}

.select-all-text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #343435;
}

.upload-csv-text {
    background: rgba(40, 81, 158, 0.08);
    border: 1px dashed rgba(37, 114, 204, 0.7);
    border-radius: 12px;
}

.color-table {
    background: #002C3F;
    color: #FFFFFF;
}

.manage-skill-table-style {
    box-shadow: 0rem 0.25rem 1.25rem rgba(40, 52, 73, 0.15);
}

.manage-skill-test-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #343435;
}

.manage-skill-test-nav-bar {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1rem;
    color: #343435;
    margin-top: 18px;
}

.manage-skill-test-container {
    background-color: #fbfbfb;
    height: 100vh;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.column-technology {
    width: 31rem;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
}

.levels-colums {
    width: 190px;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
}

.column-questions {
    width: 204px;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.column-uploaded-on {
    width: 250px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.column-actions {
    width: 208px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.technology-rows {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1rem;
    text-align: left;
    color: #343435;
}

.levels-row {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1rem;
    text-align: left;
    color: #343435;
}

.questions-row {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1rem;
    color: #343435;
}

.uploaded-on-row {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #23262B;
}

.color-of-radio {
    border-color: #28519E;
}

.drag-drop-text {
    font-size: 14px;
}

.save-text-field:hover {
    background: #28519E;
    color: #FFFFFF;
}

.expand-more {
    border: none;
    background: none;
    padding-right: 0px;
    padding-left: 1.5rem;
}

.custom-input {
    border-bottom: none;
    background: none;
}

.input-with-button {
    display: flex;
    align-items: center;
    border-bottom: none;
}

.select-drop-down-style {
    padding: 0.5rem;
    gap: 29px;
    width: 228px;
    height: 40px;
    border-radius: 0.25rem;
}

.add-new-skill-test-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 1rem;
    gap: 0-.5rem;
    width: 201.77px;
    height: 40px;
    background: #28519E;
    border-radius: 0.25rem;
    color: #FFFFFF;
}

.styling-of-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.information-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    line-height: 1rem;
    color: #23262B;
}

.csv-upload-button {
    background: #28519E;
    color: #FFFFFF;
    border-radius: 0.25rem;
}

.csv-upload-button:hover {
    background: #28519E;
    color: #FFFFFF;
}