
.div-card-upload{

}
.upload-csv-box{
 display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 12px;
width: 404px;
height: 36px;
background: #28519E;
border-radius: 4px;
}
.outer-row-info{
width: 400px;
}
.csv-upload-text{
width: 75px;
height: 16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-transform: capitalize;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}
.upload-list {
    margin-top: 11px;
    margin-left: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* //need a change  */
    width: 430px;
    height: 152px;
    background: #EAEEF6;
    
    border: 1px solid #28519E;
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.upload-bullets{
    margin-top: 15px;
    width: 404px;
    height: 92px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1; 
}
.number-of-tests{
    
}

.upload-list button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 404px;
    height: 36px;
    color: white;
    background: #28519e;
    border-radius: 4px;
    border-color: #28519E;
    border: none;
    
  }