
.upload-csv-box{
 display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 0.75rem; /* 12px / 16px */
width: 25.25rem; /* 404px / 16px */
height: 2.25rem;
background: #28519E;
border-radius: 4px;
}
.outer-row-info{
    width: 25rem;
}
.csv-upload-text{
    width: 4.688rem; /* 75px / 16px */
    height: 1rem; 
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 0.875rem; /* 14px / 16px */
line-height: 1rem; 
text-transform: capitalize;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}
.upload-list {
    margin-top: 0.688rem; /* 11px / 16px */
    margin-left: 1.1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* //need a change  */
    width: 27.8rem;
    height: 9.5rem;
    background: #EAEEF6;
    
    border: 1px solid #28519E;
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.upload-bullets{
    margin-top: 0.938rem; /* 15px / 16px */
    width: 25.25rem; /* 404px / 16px */
    height: 5.75rem; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem; /* 14px / 16px */
    line-height: 1rem;
    color: #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1; 
}
.number-of-tests{
    
}

.upload-list button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem; /* 8px / 16px */
    width: 26.1rem; /* 404px / 16px */
    height: 2.25rem;
    color: white;
    background: #28519e;
    border-radius: 0.25rem; 
    border-color: #28519E;
    border: none;
    
  }