.log-header-nav {
    /* padding-left: 1rem; */
    width: 24rem;
    /* margin-left: 100px; */
    max-height: 3.188rem;
    display: flex;
    flex: 1;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E9ECEB;
}

.log-head{
    color: var(--primary-royal-blue, #002C3F);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.associate-mapped-card-log {
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    padding: 0.5rem 0.75rem; /* Converted from 8px 12px */
    background: #FFFFFF;
    width: 24rem;
    border: 0.0625rem solid #E9ECEB; /* Converted from 1px */
    border-radius: 0.25rem; /* Converted from 4px */
    cursor: pointer;
  }
  .associate-search-log-wrapper{
    border: 1px solid #B2B2B3;
    border-radius: 5px;
    padding: 0%;
    width: 24rem;

  }
  .search-associate-log {
  box-sizing: border-box;
  padding: 0rem 0.5rem; 
  height: 2rem; 
  border-radius: 30%;
  border: none;
  outline: none;
  }

  .frame-log {
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 2.25rem; /* Converted from 36px */
  height: 2.25rem; /* Converted from 36px */
  background: #b8dde1;
  border-radius: 100%;
  }
  
  .frame-text-log {
    width: 8.75rem; /* Converted from 140px */
    height: 1.25rem; /* Converted from 20px */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem; /* Converted from 14px */
    line-height: 1rem; /* Converted from 16px */
    color: #343435;
  }
  
  .frame-id-log {
    width: 4.75rem; /* Converted from 60px */
    height: 0.875rem; /* Converted from 14px */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem; /* Converted from 14px */
    line-height: 0.875rem; /* Converted from 14px */
    color: #343435;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  
  