.vector{
    background: #E9ECEB;
     position: absolute;
    width: 300px;
    height: 604.5px;
    top: 165px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(66, 76, 97, 0.15);
    /* border-radius: 8px; */
}
