.card-textt {
    /* width: 21.68rem; */
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    color: #343435;
    opacity: 0.9;
}

p.card-textt {
    margin: 0rem;
}

.share-project {
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    color: #343435;
    padding-top: 1.25rem;
}

.view-all {
    background-color: transparent;
    border: none;
    color: #28519E;
    font-weight: 500;
    font-size: 0.8rem;
}

.recipe-row {
    border-left: 3px solid #28519E;
    border-radius: 4px;
    padding: 0.75rem;
    gap: 0.5rem;
    /* width: 21.68rem; */
    background: rgba(40, 81, 158, 0.08);
}

.recipe-text {
    width: 21.68rem;
    font-style: normal;

    font-size: 0.8rem;

}

.recipe-text>h5 {
    font-size: 1rem;
}

.recipe-text>p {
    font-size: 0.95rem;
}

.project-link-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    color: #28519E;
    padding-bottom: 1rem;
}

.member {
    font-style: normal;
    font-weight: 500;
    font-size: 0.94rem;
    /* width: 4rem; */
    padding-top: 0.75rem;
    color: #343435;
}

.project-members {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
    left: 0.6rem;
}

.project-idea-members {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 20px rgba(40, 52, 73, 0.15);
    /* text-align: center; */
    /* position: absolute; */

}

.project-idea-members p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #343435;
}

.project-idea-members:nth-child(even) {
    margin-left: -0.5rem;
    /* z-index: 1; */
}

.project-idea-members:nth-child(odd) {
    margin-left: -0.5rem;
}
.project-idea-members:last-child {
    background-color: rgba(40, 81, 158, 0.2);

}

.project-idea-members:last-child p {
    font-size: 1.1rem;
}

.add-new-idea {
    background-color: transparent;
    border: none;
    color: #28519E;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;
    text-decoration: none;
    padding-top: 1.5rem;
}

.project-p {
    /* font-weight: 600; */
    font-size: 0.9rem;
}


.add-project-wrapper {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    color: #1E1E1E;
}

.title-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #1E1E1E;
}

