.project-card-text {
    width: 21.68rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    color: #343435;
    opacity: 0.7;
}

.project-idea {
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    color: #343435;

}

.view-all {
    background-color: transparent;
    border: none;
    color: #28519E;
    font-weight: 500;
    font-size: 0.8rem;
}

.project-recipe-row {
    border-left: 3px solid #28519E;
    border-radius: 4px;
    padding: 0.75rem;
    gap: 0.5rem;
    width: 21.68rem;
    background: rgba(40, 81, 158, 0.08);
}

.project-recipe-name {
    font-style: normal;
    
    font-size: 0.8rem;
    line-height: 1rem;
    color: #343435;
}

.project-link-1 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    color: #28519E;
    text-decoration: underline;
}


.technology-used {
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    padding-top: 1rem;
    color: #343435;
}

.technology-badges {
    width: 9.5rem;
    display: flex;
    padding-top: 0.5rem;
    justify-content: space-between;
}

.technology-badge-1 {
    background: #D3E1FA;
    border-radius: 2px;
    width: 4.5rem;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.3rem;
    padding-bottom: 5px;
    gap: 8px;
    justify-content: center;
    font-weight: 400;
    font-size: 0.75rem;
    color: #343435;
    font-style: normal;
}

.technology-badge-2 {
    background: #D3E1FA;
    border-radius: 2px;
    width: 2.9rem;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    gap: 8px;
    font-weight: 400;
    font-size: 0.75rem;
    color: #343435;
    font-style: normal;
    justify-content: center;
}

.technology-badge-3 {
    background: #D3E1FA;
    border-radius: 2px;
    width: 5.25rem;
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 0.75rem;
    color: #343435;
    font-style: normal;
    justify-content: center;
}

.add-project {
    padding-top: 9rem;
    padding-bottom: 2.62rem;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    color: #28519E;
    cursor: pointer;
}

.project-p {
    /* font-weight: 600; */
    font-size: 0.9rem;
}

.add-project-wrapper {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    color: #1E1E1E;
}

.title-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #1E1E1E;
}