@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;700&display=swap');
.error-page-body {
  font-family: "Lexend Deca";
  color: #343435;
}

.error-heading {
  font-weight: 700;
  font-size: 100px;
  line-height: 125px;
}

.error-description {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  /* width: 100%; */
}

.error-btn {
  padding: 12px 24px;
  width: 171px;
  background: #28519e;
  border-radius: 4px;
  height: 47px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
