.skill-added-card{
    margin-left: 0px;
    
}

.heading p{
    width: 112px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #343435;
}

.mainImg img{
    margin-top: 1rem;
    margin-left: 1rem;
    height: 44px;
    width: 44px
}

.mainImg p{
    margin-top: 20px;
    margin-right: 18px;
    margin-left: 14px;
    width: 196px;
    height: 36px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #262626;

}

.stars{
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    flex-shrink: 1;
}

.stars p{
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: #343435;
}
.per{
    font-weight: 400;
    color: #949494;
}

.stars img{
    margin: auto;
    height: 20px;
    width: 20px;
}

