.page-color {
    background-color: #FBFBFB;
    height: 100vh;
}

.header-text {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    padding-left: 3.5rem;
    padding-top: 1.25rem;
    color: #343435;
}

.sub-text {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #343435;
    width: 4.063rem;
    padding-left: 3.5rem;
    padding-bottom: 2.031rem;
    padding-top: 1.031rem;
}

.add-your-project-wrapper {
    justify-content: center;
    align-items: center;
    background: #28519E;
    border: none;
    border: 0.25rem;

    margin-right: 3.5rem;
}

.add-your-project {
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    margin-bottom: 0;
    margin-right: 0;
    color: #FFFFFF;
}

.all-project-idea-wrapper {
    display: flex;
}

.project-detail {
    padding: 1.438rem;
}

.entire-component {
    width: 73rem;
    height: 28.125rem;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(40, 52, 73, 0.15);
    border-radius: 0.5rem;
    margin-left: 3.5rem;
}

.all-project-names {
    padding-left: 1.5rem;
    height: 28.125rem;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
}

.child-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding-right: 0.938rem;
    padding-left: 0.938rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.border-between {
    border-right: 1px solid #000000;
}

.project-names-wrapper {
    display: flex;
    flex-direction: column;
    width: 23.5rem;
    padding: 0.75rem;
    align-items: flex-start;
    background: rgba(40, 81, 158, 0.08);
    border-radius: 0.25rem;
    margin-left: 0.688rem;
}

.project-names-wrapper-border {
    border-left: 3px solid #28519E;
    background: rgba(40, 81, 158, 0.08);
}


.project-names {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #343435;
    width: 20rem;
}

.project-text {
    font-size: 0.8rem;
    font-weight: 400;
    font-style: normal;
    color: #343435;
}

.click-arrow {
    position: relative;
    left: 1rem;
    border: none;
    background: transparent;
    color: #28519E;
}
.dropdown-options {
    list-style-type: none;
  }

  
  
  
  
  
  