.card-textt {
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem;
    color: #343435;
    opacity: 0.9;
}

p.card-textt {
    margin: 0rem;
}

.share-project {
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    color: #343435;
    padding-top: 1.25rem;
}

.view-all {
    background-color: transparent;
    border: none;
    color: #28519E;
    font-weight: 500;
    font-size: 0.8rem;
}

.recipe-row {
    border-left: 3px solid #28519E;
    border-radius: 0.25rem;
    padding: 0.75rem;
    gap: 0.5rem;
    min-height: 13rem;
    background: rgba(40, 81, 158, 0.08);
}

.recipe-text {
    font-style: normal;
    font-size: 0.8rem;
}

.recipe-text>h5 {
    font-size: 1rem;
}

.recipe-text>p {
    font-size: 0.95rem;
}

.project-link-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    color: #28519E;
    padding-bottom: 1rem;
}

.member {
    font-style: normal;
    font-weight: 500;
    font-size: 0.94rem;
    padding-top: 0.75rem;
    color: #343435;
}

.project-members {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    left: 0.6rem;
}

.project-idea-members {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 20px rgba(40, 52, 73, 0.15);
}

.project-idea-members:nth-child(even) {
    margin-left: -0.5rem;

}

.project-idea-members:nth-child(odd) {
    margin-left: -0.5rem;
}

/* .project-idea-members:last-child {
    background-color: rgba(40, 81, 158, 0.2);
} */
.count-of-members{
    background-color: rgba(40, 81, 158, 0.2);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-idea-members:last-child p {
    font-size: 1.1rem;
}

.remaining-members{
    font-size:0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    font-style:normal;
    font-weight: 400;
    color: #343435;
}
.project-idea-members-skeleton {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 20px rgba(40, 52, 73, 0.15);
}

.project-idea-members-skeleton:nth-child(even) {
    margin-left: -0.5rem;

}

.project-idea-members-skeleton:nth-child(odd) {
    margin-left: -0.5rem;
}

.name-of-members {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 1.094rem;
    line-height: 1.313rem;
    color: #343435;
}

.add-new-idea-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.add-new-idea {
    background-color: transparent;
    border: none;
    color: #28519E;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1.25rem;
}

.project-p {
    font-size: 0.9rem;
}

.add-project-wrapper {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    color: #1E1E1E;
}

.title-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 0.938rem;
    color: #1E1E1E;
}

.drop-down-technology {
    padding-left: 27.125rem;
}

.ul-styling {
    box-shadow: 0px 4px 20px rgba(40, 52, 73, 0.15);
    border-radius: 0.5rem;
    position: absolute;
    background-color: #FFFFFF;
    width: 29.063rem;
    padding-left: 1.188rem;
    margin-top: 0.125rem;
    padding-top: 1rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-input {
    width: auto;
}

.checkbox-text {
    font-style: normal;
    font-weight: 500;
    font-size: 0.874rem;
    line-height: 1rem;
    color: #343435;
    display: flex;
    align-items: flex-start;
    padding-left: 0.688rem;
}

.save-button {
    background: #28519E;
    color: #fff;
    border: 0.25rem;
    justify-content: center;
    align-items: center;
}

.save-text {
    font-style: normal;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #FFFFFF;
}

.save-button:hover {
    background: #28519E;
    color: #fff;
}

.cancel-button {
    padding: 0.25rem;
    background: none;
    color: #28519E;
    border: 1px solid #28519E;
    border-radius: 0.25rem;
    gap: 0.5rem;
}

.cancel-text {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.188rem;
}

.cancel-button:hover {
    color: #28519E;
    border: 1px solid #28519E;
}

.input-with-button {
    display: flex;
    align-items: center;
    border-bottom: none;
}

.expand-more {
    border: none;
    background: none;
    padding-right: 0px;
    padding-left: 1.5rem;
}

.custom-input {
    border-bottom: none;
    background: none;
}

.add-new-project {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;

    color: #FFFFFF;
}
.add-new-project-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 0.5rem; 
    width: 8rem;
    height: 2.5rem;
    background: #28519E;
    border-radius: 0.25rem;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}