.heading{
    width: 112px;
    /* margin-left: 2rem; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */


    /* Primary/Gray */

    color: #343435;
}

/* img{
    float: left;
} */
  
.mainImg img{
    margin-top: 1rem;
    margin-left: 1rem;
}

.mainImg p{
    margin-top: 20px;
    margin-right: 18px;
    margin-left: 14px;
    width: 196px;
    height: 36px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #262626;

}

p{
    display: flex;
    justify-content: center;
}

